.NewsLettersBlock
{
    font-family: Indie Flower, sans-serif;
    margin:20% auto;
    width:400px;
    height:auto;
    border:1px solid #FFFFFF;
    background:#0088CC;
}
.NewsLettersBlock {
    font-size:36px;
    color:#FFFFFF;
}

#THANKS {

    font-size:58px;
    color: #6b9311;
    text-align: center;
    padding:45px;
}
.categories-select {
    text-align:left;


}
.categories-select label:after {
    content: "\A";
    white-space: pre;
}
.save-button {
    margin-top:30px;
    margin-bottom:20px;
    border-radius: 5px;
    border: 0;
    width: auto;
    height:auto;
    background: #f4f4f4;
    font-size:24px;
    font-family: Indie Flower;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

